

<br/>
<br/><br/><br/>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedIndexChange)="changeTab($event)">
    <mat-tab label="Moji fitness programi">
      <app-programs-tab></app-programs-tab>
    </mat-tab>

    <mat-tab label="Kreiraj novi fitness program">
        <app-upload-form></app-upload-form>
    </mat-tab>

    <mat-tab label="Istorija">
      <app-history-tab></app-history-tab>
    </mat-tab>

    <mat-tab label="Poruke">
      <app-messages-tab></app-messages-tab>
    </mat-tab>

    <mat-tab label="Promijeni podatke">
      <app-updateuser-tab></app-updateuser-tab>
    </mat-tab>
</mat-tab-group>


