

<div class="col-container main-container" style="height: calc(100% - 50px);  padding-top: 50px;">    
    <div class="row-container" style="background-color: lightslategray; width: 100%;">
        <div class="col-container" style="width: calc (25% - 10px); align-items: flex-start;">
            <div class="row-container"><h3>Naziv programa:</h3><label>{{ fitnesProgram.nazivPrograma }}</label></div>
            <div class="row-container"><h3>Lokacija:</h3><label>{{ fitnesProgram.lokacija }}</label></div>
            <div class="row-container"><h3>Kategorija:</h3><label>{{ fitnesProgram.kategorija.nazivKategorije }}</label></div>
            <div class="row-container"><h3>Instruktor:</h3><label>{{ fitnesProgram.imeInstruktora }}</label></div>
            <div class="row-container"><h3>Kontakt:</h3><label>{{ fitnesProgram.kontakt }}</label></div>
        </div>

        <div class="col-container" style="width: 50%; height: 300px; margin:10px;">
            <img [src]="fitnesProgram.nazivSlike" style="width: 100%; height: 100%; object-fit: contain;">
        </div>

        <div class="col-container" style="width: calc (25% - 10px); align-items: flex-start;">
            <div class="row-container"><h3>Opis programa:</h3><textarea >{{ fitnesProgram.opis }}</textarea></div>
            <div class="row-container"><h3>Trajanje treninga:</h3><label>{{ fitnesProgram.trajanje }}</label></div>
            <div class="row-container"><h3>Atribut:</h3><label>{{ fitnesProgram.kategorija.atribut.nazivAtributa }}</label></div>
            <div class="row-container"><h3>Cijena:</h3><label>{{ fitnesProgram.cijena }} KM</label></div>
            <div class="row-container">
                <h3>Autor:</h3><label>{{ fitnesProgram.autor?.ime || 'administrator' }}</label>            
            </div>
        </div>
    </div>

    <div  class="row-container" style="background-color: lightslategray; width: 100%; max-height: 43%; min-height: 43%; align-items: flex-start;">          
        <div class="col-container" style="min-height: 90%; max-height: 90%;">
            <h3 style="margin: 0px;">Komentari</h3>
            <ul style="width: 50%;">
                <app-karta *ngFor="let komentar of fitnesProgram.komentari" 
                            [komentar]="komentar.tekst" [datum]="komentar.datum" [ime]="komentar.korisnik.ime">
                </app-karta>
            </ul>
            <div class="row-container" style="align-items: flex-end;">
                <button [ngClass]="{'hide-button': !showComments}" (click)="openCommentDialog()">Komentariši</button>
                <button [ngClass]="{'hide-button': !showComments}"  (click)="openPayDialog()">Kupi</button>
            </div>
        </div>
    </div>
</div>

