<div class="col-container">
  <form #updateUserForm="ngForm" ngNativeValidate (ngSubmit)="onUpdateUser(updateUserForm)">
    <h2 mat-dialog-title>Unesi nove podatke</h2>

    <label>Ime i prezime: </label>
    <input type="text" [(ngModel)]="user.name" name="name" required>
    <label>Grad: </label>
    <input type="text" [(ngModel)]="user.city" name="city" required>
    <label>Lozinka: </label>
    <input type="password" [(ngModel)]="user.password" name="password" required>
    <label>Email: </label>
    <input type="email" [(ngModel)]="user.mail" name="email" required>
    <label>Broj kartice: </label>
    <input type="text" [(ngModel)]="user.cardNumber" name="cardnumber" required>
    <label>Avatar: </label>
    <mat-select [(ngModel)]="user.avatar" name="avatar">
      <mat-option *ngFor="let avatarUrl of avatarUrls" [value]="avatarUrl">
        <img [src]="avatarUrl" style="max-height: 40px; max-width: 40px;"> {{avatarUrl.split('/')[1]}}
      </mat-option>
    </mat-select>
    <label>Pretplati se: </label>
    <ul style="list-style-type: none; text-align: left;">
      <li *ngFor="let category of categoriesList;">
        {{ category.categoryName + '-' + category.attribute.attributeName }}
            <input type="checkbox" #checkbox [value]="category.id"  [checked]="category.selected"
            ngModel name="check" (ngModelChange)="onCheckboxChange(category)">
      </li>
    </ul>

    <div>
        <button type="submit">Promijeni</button>
    </div>
  </form>
</div>