
form {
    width: 420px; 
    margin: 30px; 
    text-align: center;
}

h2 {
    margin-bottom: 5px;
    padding: 5px;
    background-color: lightslategray;
}

label, button {
    display: inline-block;
    width : 140px;
    border: 2px solid #ccc;
    margin : 5px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: lightslategray;
}

button[type="submit"] {
    background-color: lightgreen;
}

mat-select {
    width: 174px;
    height: 23px;
    border : 1px solid black;
}

select {
    width: 175px;
    height: 23px;
}

.mat-tab-group {
    margin-bottom: 48px;
}

.col-container {
    display : flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}