.mat-tab-group {
    margin-bottom: 48px;
  }

input[type="file"] {
    display: none;
}

input {
    width : 160px;
}

select {
    width: 170px;
    height: 23px;
}

label, button {
    display: inline-block;
    width : 140px;
    border: 2px solid #ccc;
    margin : 5px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: lightslategray;
}

button[type="submit"] {
    background-color: lightgreen;
}

.reset {
    background-color: lightgreen;
}

form {
    width: 420px; 
    margin: 25px; 
    text-align: center;
}

h2 {
    margin-bottom: 5px;
    padding: 5px;
    background-color: lightslategray;
}

.col-container {
    display : flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}