
<div class="col-container">
  <form #myForm="ngForm" ngNativeValidate (ngSubmit)="uploadProgram($event, myForm)">
    <h2 mat-dialog-title>Novi program</h2>

    <label>Naziv programa*: </label>
    <input type="text" ngModel name="nazivPrograma" required>
    <label>Opis programa*: </label>
    <input type="text" ngModel name="opis" required>
    <label>Kategorija*: </label>
    <select ngModel name="kategorija" required>
      <option *ngFor="let category of categoriesList" [value]="category.kategorijaId">{{ category.nazivKategorije + '-' + category.atribut.nazivAtributa }}</option>
    </select>
    <label>Lokacija*: </label>
    <input type="text" ngModel name="lokacija" required> 
    <label>Trajanje treninga*: </label>
    <input type="text" ngModel name="trajanjeTreninga" required>  
    <label>Nivo težine*: </label>
    <input type="number" min="1" max="5" ngModel name="nivoTezine" required type="number">  <br/>
    <label>Cijena*: </label>
    <input type="number" min="5" ngModel name="cijena" required type="number">  <br/>
    <label>Instruktor*: </label>
    <input type="text" ngModel name="instruktor" required> 
    <label>Kontakt*: </label>
    <input type="text" ngModel name="kontakt" required> 
  
    <div style ="text-align:center;">
      <label>
        Izaberi sliku* <input type="file" name="slika" accept="image/*" (change)="onFileSelected($event)"/>
      </label>
      <div *ngIf="!isImageSelected" style="color: red;">Izaberite jednu sliku.</div>
    </div>

    <div style="margin-top: 15px;">
        <button type="submit">Kreiraj</button>
        <button class="reset" type="button" (click)="resetForm(myForm)">Otkaži</button>
    </div>
</form>

</div>
