@charset "ISO-8859-1";

header {
    display:flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 60px;
    background-color: lightslategray;
}

h1 {
    display: inline-block;
    text-align: center;
    flex-grow: 1;
    font-style: bold;
    font-size: xx-large;
    margin: 0px;
}

label {
    display: inline-block;
    width : 140px;
    border: 2px solid #ccc;
    margin : 5px;
    padding: 6px 12px;
    background-color: lightslategray;
}

button, input[type="submit"] {
    width: 100px;
    margin: 10px;
    padding: 5px;
    background-color: lightgreen;
    line-height: 20px;
}

input[type="submit"] {
	margin: auto;
	margin-top: 15px;
}

select {
    width: 143px;
    height: 23px;
}

form {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 420px; 
	margin-top: 30px;
	margin-left: 100px;
}

table {
	min-width: 60%; 
	text-align: center; 
	border-collapse: collapse;
}

th {
	padding: 5px;
    background-color: lightslategray;
    font-size: 23px;
}

td {
	padding: 5px;
}

a {
	text-decoration: none;
	color: black;
}


/* Create an active/current tablink class */
.tab button.active {
   background-color: lightslategray; /* Set your desired color here */
   color: white;
}

.tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
}


